*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  overflow: hidden; 
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ececec;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.icons {
  font-size: 30px;
  color: #131313;
  cursor: pointer;
  text-shadow: 1px 1px #c9c9c9;
  transition: transform ease-in-out 0.2s;
}
.icons:hover {
  transform: scale(0.95);  
}
header { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 100vw; 
  height: 5vh; 
}
#he-logo {
  height: 5vh; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  color: tomato;
} 
#myLinks a {
  transition: all ease-in-out 0.2s; 
}
#myLinks a:hover {
  background-color: #bdbdbd;
  color: #3b3b3b;
  font-weight: bold;
}
#he-menu {
  height: 5vh; 
} 
.topnav {
  overflow: hidden;
  background-color: #d1d1d1;
  position: relative; 
} 
.topnav #myLinks {
  display: none;
} 
.topnav a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
} 
.topnav a.icon {   
  display: block;
  position: absolute;
  right: 0;
  top: 0;
} 
.topnav a:hover { 
  color: black;
} 
.menu { 
  background-color: #ececec;
  color: black;
  width: 100%;
  height: 5vh; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.menu div {
  vertical-align: center; 
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} 
main { 
  flex-grow: 1;
  height: 100%;
  min-height: 100%;
  min-width: 100vw; 
  padding: 5px; 
  box-shadow: inset 0 0 10px #aaaaaa; 
  overflow: hidden !important; 
}
footer {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  font-size: 0.7rem;
  height: 30px;
}
footer a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.item { 
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ececec;
  color: #3b3b3b;
}
.item img {
  max-height: 200px;
  width: 15vw;
  max-width: 200px;
  height: 200px;
  border:2px solid #fff; 
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:100px;
  transition: box-shadow ease-in-out 0.3s;
  transition: transform ease-in-out 0.2s;
}
.item img:hover {
  transform: scale(0.99);
  -moz-box-shadow: 10px 10px 5px #808080;
  -webkit-box-shadow: 10px 10px 5px #808080;
  box-shadow: 10px 10px 5px #808080;
}
.item p:first-child { 
  text-shadow: 1px 1px #c9c9c9;
}
.item p:nth-child(3) { 
  text-shadow: 1px 1px #c9c9c9; 
  font-size: 12px;
  margin: 5px; 
}
#ma-container { 
  flex: 1; 
  height: calc(95vh - 38px);
  display: grid; 
  grid-template-columns: auto auto auto auto; 
  column-gap: 10px;
  row-gap: 15px;
  overflow: auto;
}
.item-btn{   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
} 
*,
input,
.item-btn,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
:target{
  color: red;
  background: red;
}
.item-btn p {
  font-weight: 100 !important;
  font-size: 15px !important;
}
.item-btn:hover {  
  transform: scale(0.95); 
}
.item img:hover ~ .item-btn {
  transform: scale(1.1);  
}   
.item-info {
  max-width: 70%;
  font-size: 12px;
  margin-top: 10px;
} 
i{
  font-weight: 500;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0; 
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
} 
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-right: 10px;
  border: 1px solid #888;
  width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: auto;
}
#modal-content-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
} 
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; 
} 
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}










#menuToggle
{
  display: block;
  position: relative; 
  z-index: 1; 
  -webkit-user-select: none;
  user-select: none;
} 
#menuToggle a
{
  text-decoration: none;
  color: #232323; 
  transition: color 0.3s ease;
} 
#menuToggle a:hover
{
  color: tomato;
} 
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute; 
  left: 5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
} 
.item-howto{
  display: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 10px;
  top: 10px;
  background: #242424;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
} 
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
} 
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
} 
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
} 
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
} 
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
} 
#menu
{
-webkit-box-shadow: 0px 0px 9px rgba(41,41,41,.25);
 -moz-box-shadow: 0px 0px 9px rgba(41,41,41,.25);
 box-shadow: 0px 0px 9px rgba(41,41,41,.25);
  position: absolute;
  width: 300px;  
  padding-top: 50px;
  top: 0;
  height: 100vh;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; 
  transform-origin: 0% 0%;
  transform: translate(-100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
} 
#menu li
{
  padding: 10px 0;
  font-size: 22px;
} 
#menuToggle input:checked ~ ul
{
  transform: none;
} 
.modal-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #ececec;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.modal-item:hover{
  transform: scale(0.99);
}
.modal-item img {
  max-height: 50px;
  max-width: 50px;
  width: 50px;
  height: 50px;
  border:2px solid #fff; 
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:100px;
  transition: box-shadow ease-in-out 0.3s;
  transition: transform ease-in-out 0.2s;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 1.5rem; 
  } 
  #ma-container {
    height: 88vh;
    grid-template-columns: auto; 
  }
  .item {
    height: 40vh;
  }
  .item img {
    height: 25vh;
    max-height: 25vh;
    min-width: 35vw;
    border-radius: 100%;
  } 
  .item p:nth-child(2) {
    font-size: 0.9rem ; 
  }  
  .item p:last-child {
    font-size: 3rem !important; 
  }  
  .item-info{ 
    font-size: 0.9rem !important;
  }
  .item-btn { 
    font-size: 1.2rem;
  }  
  .modal-item{
    font-size: 1rem; 
  }
  #menu{
    width: 100vw;
  }
  header{
    height: 7vh;
  } 
  #menuToggle span{
    top: 5px;
  }
}




