<!doctype html> 
<html>
<head>
  <title>Cocktails Reader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body> 
  <header>
    <div id="he-menu">
      <nav role="navigation">
        <div id="menuToggle"> 
          <input type="checkbox" /> 
          <span></span>
          <span></span>
          <span></span> 
          <ul id="menu">
            <a href="#" id="myBtn"><li>Read List</li></a>
            <a href="mailto:avishaytl@gmail.com"><li>Contact me</li></a> 
            <a href="https://presolu.com/soft/projects.mp4" target="_blank"><li>Show me more</li></a>
          </ul>
        </div>
      </nav>
    </div> 
    <div id="he-logo"> 
      <p>GAE Cocktails Reader</p> 
    </div>
  </header> 
  <main>
    <div id="ma-container"> 
    </div> 
    <div id="myModal" class="modal"> 
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modal-content-view"> 
          <p>Read List Is Empty...</p>
        </div>
      </div> 
    </div>
  </main>
  <footer>
    <p>Google App Engine ~ DataStore& Python, Created By&nbsp;</p>
    <a href="mailto:avishaytl@gmail.com">Avishay Tal</a>
  </footer>
  <script> 
    const url = 'https://fastsimon-321916.appspot.com'; // # https://fastsimon-321916.appspot.com # http://localhost:8080
    const usertoken = '@token10';

    async function req(key, options){ 
      await fetch(key,options).then((response) => { 
                    return response.json().then((data) => {
                        console.log(key,data); 
                        return data;
                    }).catch((err) => {
                        console.log(err);
                    }) 
                }).catch(function (error) {
              console.error(error);
          }); 
    } 

    function setDeleteItem(id){  
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Basic Og==");
      let options = {
        method: 'GET',  
        headers: myHeaders,
        redirect: 'follow'
      }; 
      req(url + '/deleteItemFromList?token=' + usertoken.replace(':','-')+'&item='+id, options)  
    }

    function setNewItem(id, img, name, howto){  
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append("Authorization", "Basic Og==");
      let options = {
        method: 'GET',  
        headers: myHeaders,
        redirect: 'follow'
      }; 
      req(url + '/addNewItemToList?token=' + usertoken.replace(':','-')+'&item='+id+'&img='+img+'&name='+name+'&howto='+howto, options)  
    }

    function addReadItem(id) {
      let idTitle = document.getElementById(id); 
      let readTitle = document.getElementById(`${id}-i`); 
      let img = document.getElementById(`${id}-img`); 
      let name = document.getElementById(`${id}-name`); 
      let howto = document.getElementById(`${id}-howto`); 
      if(idTitle.style.color === 'tomato'){
        idTitle.style.color = '#3b3b3b'; 
        readTitle.innerHTML = 'add to Read List';
        readTitle.style.color = '#3b3b3b';
        setDeleteItem(id)
      }
      else{
        idTitle.style.color = 'tomato'; 
        readTitle.innerHTML = 'remove from Read List';
        readTitle.style.color = '#2d6e2d';
        setNewItem(id,img.src,name.innerText,howto.innerText) 
      }
    }

    function isNull(str){
      return str ? str : ''
    }

    function getItemInfo(item){
      let st1 = isNull(item['strIngredient1']);
      let st2 = isNull(item['strIngredient2']);
      let st3 = isNull(item['strIngredient3']);
      let st4 = isNull(item['strIngredient4']); 
      let st5 = isNull(item['strIngredient5']);  
      return `${st1}, ${st2}, ${st3}, ${st4}, ${st5}...`.replace(`, ...`,`...`).replace(`, ...`,`...`)
    }

  </script>
</body>
</html>
