<!doctype html> 
<html>
<head>
  <title>GAE/Python - Ecommerce</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>  
  <header></header> 
  <main></main>
  <footer><p>Created By Avishay Tal</p><b> ~ </b><a href="email:avishaytl@gmail.com">AvishayTL@gmail.com</a></footer>
  <p>{{ val }}</p> 
</body>
</html>
