<!doctype html> 
<html>
<head>
  <title>Fast Simon</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 
  <header></header> 
  <main></main>
  <footer><p>Created By Avishay Tal</p><b>|</b><a href="email:avishaytl@gmail.com">AvishayTL@gmail.com</a></footer>
  <h1>Hey Fast Simon!</h1> 
  <h2>Last 10 visits</h2>
	{% for time in times %}
  <p>{{ time['timestamp'] }}</p>
	{% endfor %}
</body>
</html>
